.site-card-wrapper {
    width: 100%;
    min-height: calc(100vh - 137px);
    background-color:#ececec;
    padding: 50px 0;
    .site-card {
      // padding-top: 50px;
      width: 1200px;
      margin: 0 auto;
    }
  }
  
  .card-title-wrapper {
    display: flex;
    .card-title-icon {
      display: block;
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }
    .card-title {
      display: flex;
      align-items: center;
    }
  }
  
  .fixed-box {
    position: absolute;
    left: -9999px;
    top: -9999px;
  }